@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  font-family: 'Space Mono', monospace;
  font-size: 62.5%;
  line-height: 1em;
  /* align-items: center;
  justify-content: center; */
}

#cursor {
  animation: blinker 1.3s step-end infinite; 
  /* //you can change 'step-end' to 'linear' for smooth transition; */
  color: rgb(0, 0, 0);

}

@keyframes blinker {  
  0% { opacity: 100;}
  25% { opacity: 0; }
  50% { opacity: 100;}
}

#site {
  background-color: rgb(255, 255, 255);
  font-size: 3rem;
  width: 50rem;
  height: 3rem;
  padding: 3rem;
  margin: 3rem auto;
  word-wrap: break-word;
  text-align:center;
  /*align-items: center;
  justify-content: center; */

}


.container {
  display:grid;
  /* display: inline-block; */
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  border: solid 0.2rem black;
  margin: 3rem auto;
  /* padding: 1rem; */
  /* align-items: center;
  justify-content: center; */
  
}

/* .box:nth-child(1){
    grid-column: 1;
    grid-row: 1; 
    border-right: solid 0.2rem black; 
    /* background-color: blue; */

/* } */

/* .box:nth-child(2){
    grid-column: 1;
    grid-row: 3; 
    border-right: solid 0.2rem black; 
}

.box:nth-child(3){
    grid-column: 1;
    grid-row: 5; 
    border-right: solid 0.2rem black; 
}

.box:nth-child(4){
    grid-column: 1;
    grid-row: 7; 
    border-right: solid 0.2rem black; 
}

.box:nth-child(5){
    grid-column: 1;
    grid-row: 9; 
    border-right: solid 0.2rem black; 
}

.boxa{
    grid-column: 1;
    grid-row: 2; 
    border-top: solid 0.2rem black; 

}

.boxb{
    grid-column: 3;
    grid-row: 2; 
    border-top: solid 0.2rem black; 

}

.boxc{
    grid-column: 5;
    grid-row: 2; 
    border-top: solid 0.2rem black; 

}

.boxd{
    grid-column: 7;
    grid-row: 2; 
    border-top: solid 0.2rem black; 

}

.boxe{
    grid-column: 9;
    grid-row: 2; 
    border-top: solid 0.2rem black; 

} */ 